openapi: 3.0.3
info:
  title: Zig Task Manager API
  version: 1.0.0
  description: API for the Zig Task Manager backend.
servers:
  - url: https://task.micutu.com
  - url: http://127.0.0.1:9000
paths:
  /api/health:
    get:
      summary: Liveness check
      responses:
        "200":
          description: Service is alive
  /api/ready:
    get:
      summary: Readiness check
      responses:
        "200":
          description: Service can reach required dependencies
        "503":
          description: Service is not ready
  /api/metrics:
    get:
      summary: Protected Prometheus metrics
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Metrics payload
        "401":
          description: Missing or invalid metrics token
        "404":
          description: Metrics disabled
  /api/auth/signup:
    post:
      summary: Create a user and start an authenticated session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignupRequest"
      responses:
        "201":
          description: Account created
        "400":
          description: Invalid input or duplicate email
        "429":
          description: Rate limited
  /api/auth/login:
    post:
      summary: Login with email and password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Authenticated
        "401":
          description: Invalid credentials
        "429":
          description: Rate limited
  /api/auth/me:
    get:
      summary: Return the current authenticated user
      responses:
        "200":
          description: Current user
        "401":
          description: Not authenticated
  /api/auth/logout:
    post:
      summary: Delete the current session
      responses:
        "200":
          description: Logged out
  /api/auth/forgot-password:
    post:
      summary: Send a password reset link if the account exists
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        "200":
          description: Generic success response
        "429":
          description: Rate limited
  /api/auth/reset-password:
    post:
      summary: Reset a password with a reset token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, new_password]
              properties:
                token:
                  type: string
                new_password:
                  type: string
                  minLength: 8
      responses:
        "200":
          description: Password reset
        "400":
          description: Invalid token or password
  /api/auth/verify:
    post:
      summary: Verify the current user's email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  minLength: 6
                  maxLength: 6
      responses:
        "200":
          description: Email verified
        "400":
          description: Invalid or expired code
        "401":
          description: Not authenticated
  /api/auth/resend-verification:
    post:
      summary: Send a new verification code to the authenticated user
      responses:
        "200":
          description: Verification code sent
        "401":
          description: Not authenticated
        "429":
          description: Rate limited
  /api/profile:
    get:
      summary: Return the current user's profile
      responses:
        "200":
          description: Profile
        "401":
          description: Not authenticated
    put:
      summary: Update the current user's profile name
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
      responses:
        "200":
          description: Updated profile
        "401":
          description: Not authenticated
  /api/profile/password:
    put:
      summary: Change the current user's password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [old_password, new_password]
              properties:
                old_password:
                  type: string
                new_password:
                  type: string
                  minLength: 8
      responses:
        "200":
          description: Password changed
        "403":
          description: Current password is invalid
  /api/workspaces:
    get:
      summary: List workspaces for the current user
      responses:
        "200":
          description: Workspace list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Workspace"
        "401":
          description: Not authenticated
    post:
      summary: Create a workspace owned by the current user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWorkspaceRequest"
      responses:
        "201":
          description: Created workspace
        "401":
          description: Not authenticated
        "409":
          description: Concurrent state change; review before retrying
        "422":
          description: Owned workspace quota reached; use an existing workspace or contact the operator
  /api/workspaces/{id}:
    patch:
      summary: Rename a workspace as its owner or administrator
      description: >-
        Requires CSRF and current owner/admin authority checked atomically
        with the name update. expected_name must match the current name;
        stale state returns 409 without automatic replay. Name equality is
        not a global revision (A to B to A may match A again). Other workspace
        fields, ownership and tasks are unchanged. Names are 1–120 UTF-8 bytes
        without markup angle brackets or control characters.
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, expected_name]
              properties:
                name: { type: string, minLength: 1, maxLength: 120 }
                expected_name: { type: string, minLength: 1, maxLength: 120 }
      responses:
        "200":
          description: Name updated; private no-store response
          content:
            application/json:
              schema:
                type: object
                required: [id, name]
                properties:
                  id: { type: string }
                  name: { type: string }
        "400": { description: Invalid input or missing expected name }
        "401": { description: Not authenticated }
        "403": { description: Insufficient role or invalid CSRF }
        "404": { description: Workspace unavailable }
        "409": { description: Name or concurrent state changed; explicitly review before retrying }
  /api/workspaces/{id}/directory:
    get:
      summary: Search one minimal page of workspace teammates
      description: >-
        Available to every current workspace role, including viewers. Projects
        only user ID, display name and role, never email or account secrets.
        Name-only case-insensitive substring search; fixed pages of at most 50,
        ordered by user ID. Membership is rechecked on every page, in the same
        database transaction as the read. Cursors are not authorization or a
        stable membership snapshot; refresh to discover newly added earlier
        IDs. Shares the 120/minute per-account search/usage limit. No-store.
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - in: query
          name: q
          description: Display-name substring, at most 80 UTF-8 bytes; emails are not searched
          schema: { type: string, maxLength: 80 }
        - in: query
          name: after
          schema: { type: string, pattern: '^users:[A-Za-z0-9_-]+$' }
      responses:
        "200":
          description: One minimal directory page
          content:
            application/json:
              schema:
                type: object
                required: [workspace_id, items, next_cursor]
                properties:
                  workspace_id: { type: string }
                  next_cursor: { type: string, nullable: true }
                  items:
                    type: array
                    maxItems: 50
                    items:
                      type: object
                      additionalProperties: false
                      required: [user_id, name, role]
                      properties:
                        user_id: { type: string }
                        name: { type: string }
                        role: { type: string, enum: [owner, admin, member, viewer] }
        "400": { description: Invalid workspace ID, cursor or search }
        "401": { description: Not authenticated }
        "403": { description: Workspace access denied }
        "429": { description: Search/usage/directory request budget exhausted; Retry-After 60 }
        "500": { description: Directory unavailable; retry explicitly }
  /api/workspaces/{id}/usage:
    get:
      summary: Read current logical task usage and deployment-wide limits
      description: >-
        Requires current membership, including viewer. Retained tasks include
        children, completed tasks and trash. Text is UTF-8 bytes of titles,
        notes and tags, not physical database storage. Legacy counts cover
        only the current user's unattached tasks, as a separate quota scope.
        Owned workspace count belongs to the current user, not the selected
        workspace's owner. No titles, IDs of tasks or member identities are
        returned. No pagination; private response is no-store.
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
      responses:
        "200":
          description: Authorized usage and positive operator-configured limits
          content:
            application/json:
              schema:
                type: object
                required: [workspace_id, usage, limits]
                properties:
                  workspace_id: { type: string }
                  usage:
                    type: object
                    required: [retained, trash, text_bytes, legacy_retained, legacy_trash, legacy_text_bytes, owned_workspaces]
                    properties:
                      retained: { type: integer, format: int64, minimum: 0 }
                      trash: { type: integer, format: int64, minimum: 0 }
                      text_bytes: { type: integer, format: int64, minimum: 0 }
                      legacy_retained: { type: integer, format: int64, minimum: 0 }
                      legacy_trash: { type: integer, format: int64, minimum: 0 }
                      legacy_text_bytes: { type: integer, format: int64, minimum: 0 }
                      owned_workspaces: { type: integer, format: int64, minimum: 0 }
                  limits:
                    type: object
                    required: [tasks, text_bytes, workspaces]
                    properties:
                      tasks: { type: integer, minimum: 1, maximum: 1000000, default: 10000 }
                      text_bytes: { type: integer, format: int64, minimum: 1, maximum: 10737418240, default: 52428800 }
                      workspaces: { type: integer, minimum: 1, maximum: 1000, default: 25 }
        "400":
          description: Invalid typed workspace ID
        "401":
          description: Not authenticated
        "403":
          description: Workspace unavailable to this user
        "429":
          description: Shared search/usage budget of 120 reads per user per minute exceeded; Retry-After 60
        "503":
          description: Usage unavailable; do not substitute zero
  /api/workspaces/invites/accept:
    post:
      summary: Accept a workspace invite for the authenticated user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AcceptWorkspaceInviteRequest"
      responses:
        "200":
          description: Invite accepted
        "400":
          description: Expired, already accepted, or already a member
        "403":
          description: Invite belongs to a different email
  /api/workspaces/{id}/members:
    get:
      summary: List workspace members
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
      responses:
        "200":
          description: Workspace members
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WorkspaceMember"
        "403":
          description: Requires owner or admin role
    put:
      summary: Change a member's role
      description: >-
        The owner's role cannot be changed, and "owner" is not an assignable
        role, so ownership can never be granted through this endpoint.
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangeMemberRoleRequest"
      responses:
        "200":
          description: Role updated
        "403":
          description: Requires owner or admin role, or the target is the owner
        "404":
          description: Not a member of this workspace
    delete:
      summary: Remove a member
      description: >-
        The owner cannot be removed, so a workspace always keeps someone able
        to administer it.
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RemoveMemberRequest"
      responses:
        "200":
          description: Member removed
        "403":
          description: Requires owner or admin role, or the target is the owner
        "404":
          description: Not a member of this workspace
  /api/workspaces/{id}/invites:
    post:
      summary: Invite a user to a workspace
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWorkspaceInviteRequest"
      responses:
        "201":
          description: >-
            Invite created. The email is queued and sent in the background, so
            a 201 means the invitation exists, not that it has been delivered.
        "403":
          description: Requires owner or admin role, and a verified inviter email
        "409":
          description: A pending invite already exists for this address
    get:
      summary: List pending invitations
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
      responses:
        "200":
          description: Pending invitations
        "403":
          description: Requires owner or admin role
    delete:
      summary: Revoke a pending invitation
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RevokeInviteRequest"
      responses:
        "200":
          description: Invitation revoked
        "403":
          description: Requires owner or admin role
        "404":
          description: No such invitation in this workspace
  /api/tasks:
    get:
      summary: Read a bounded task page for the current user
      description: >-
        Use page=1 and follow next_cursor, retaining as_of and workspace_id.
        Pages include children and are ordered by immutable task ID descending.
        Membership is rechecked on each request. as_of excludes later creation
        milliseconds, not a frozen snapshot of edits, deletes or permissions.
        Without page=1, a legacy array is returned only when the complete list
        fits in 100 rows; larger lists fail explicitly with 409, never truncate.
        Owned legacy tasks without a workspace remain visible with any allowed
        workspace. Without workspace_id, all currently accessible workspaces
        are included. Browser search/sort currently operate after full traversal.
      parameters:
        - name: page
          in: query
          schema: { type: integer, enum: [1] }
        - name: workspace_id
          in: query
          schema: { type: string, example: "workspaces:abc123" }
        - name: cursor
          in: query
          description: Last returned task ID; requires page=1 and as_of
          schema: { type: string, example: "tasks:abc123" }
        - name: limit
          in: query
          description: Requires page=1
          schema: { type: integer, minimum: 1, maximum: 100, default: 100 }
        - name: as_of
          in: query
          description: Creation cutoff in Unix milliseconds returned by the first page; retain on following pages
          schema: { type: integer, format: int64, minimum: 1 }
      responses:
        "200":
          description: Bounded page, or complete legacy array for at most 100 tasks; Cache-Control no-store
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    required: [items, next_cursor, as_of]
                    properties:
                      items:
                        type: array
                        maxItems: 100
                        items: { $ref: "#/components/schemas/Task" }
                      next_cursor: { type: string, nullable: true }
                      as_of: { type: integer, format: int64 }
                  - type: array
                    maxItems: 100
                    items: { $ref: "#/components/schemas/Task" }
        "400":
          description: Invalid page, limit, typed record ID or cutoff; cursor without as_of
        "401":
          description: Not authenticated
        "403":
          description: Requested workspace unavailable to this user
        "409":
          description: Legacy client must opt into pagination
        "429":
          description: 600 task reads per user per minute exceeded; Retry-After 60
        "503":
          description: Task storage temporarily unavailable; do not treat as an empty list
    post:
      summary: Create a task
      description: >-
        Transactionally enforces the workspace's retained-task and UTF-8 text
        budgets, including trash and subtasks. Quota denial leaves no task.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTaskRequest"
      responses:
        "201":
          description: Created task
        "401":
          description: Not authenticated
        "409":
          description: Concurrent state change; review before retrying
        "422":
          description: Task or text quota reached; retained trash counts and no automatic purge occurs
  /api/tasks/search:
    post:
      summary: Read one filtered and sorted page across accessible workspaces
      description: >-
        Read-only POST keeps terms and cursors out of URL access logs. Requires
        an authenticated session and its X-CSRF-Token. Includes subtasks and own
        legacy records, never trash. Every page rechecks current membership.
        Follow next_cursor with identical filters, sort and limit; restart after
        changing them. The token is a position, not an access credential. Stable
        order uses a task-ID tie-breaker. as_of excludes later creation and fixes
        the overdue boundary, but does not freeze edits, deletions or permissions.
        Text search is literal case-insensitive substring, not regex/full-text.
      parameters:
        - name: X-CSRF-Token
          in: header
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TaskSearchRequest" }
      responses:
        "200":
          description: One current page, Cache-Control no-store; no total-count claim
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor, as_of]
                properties:
                  items:
                    type: array
                    maxItems: 100
                    items: { $ref: "#/components/schemas/Task" }
                  next_cursor: { type: string, nullable: true, maxLength: 8192 }
                  as_of: { type: integer, format: int64 }
        "400":
          description: Invalid filters, bounds, body or cursor binding; start a fresh search
        "401":
          description: Not authenticated
        "403":
          description: Missing/invalid CSRF or requested workspace unavailable
        "405":
          description: POST required; Allow POST
        "429":
          description: 120 searches per user per minute exceeded; Retry-After 60
        "503":
          description: Query unavailable/timed out, or two search slots occupied (Retry-After 1); retry explicitly
  /api/tasks/view:
    post:
      summary: Read a bounded workspace parent or child page with server totals
      description: >-
        Authenticated, read-only, CSRF-protected and no-store. One read
        transaction checks membership and returns rows plus scoped aggregates.
        Root counts and tag facets ignore query filters, include own legacy
        roots, and exclude children and trash. Child requests return null counts
        and empty facets. Each page rechecks membership; as_of excludes later
        creation but does not freeze subsequent edits/deletions. Cursor context
        includes actor, query, hierarchy, focus, completion grouping and calendar
        boundaries. Tokens are positions, not authorization credentials.
      parameters:
        - name: X-CSRF-Token
          in: header
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TaskViewRequest" }
      responses:
        "200":
          description: One page and current scoped aggregates; Cache-Control no-store
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TaskViewResponse" }
        "400":
          description: Invalid body, typed ID, date bounds or cursor binding; restart after changing filters
        "401":
          description: Not authenticated
        "403":
          description: Missing/invalid CSRF or requested workspace unavailable
        "404":
          description: Requested parent missing, deleted, nested or outside authorized scope
        "405":
          description: POST required; Allow POST
        "429":
          description: Shared view/search/usage budget of 120 requests per user per minute exceeded; Retry-After 60
        "503":
          description: Query unavailable/timed out, or two view/search slots occupied (Retry-After 1); retry explicitly
  /api/tasks/{id}:
    get:
      summary: Read one active task and its current ETag
      description: Workspace viewers may read; inaccessible, deleted and missing tasks return the same 404. Private response is no-store.
      parameters:
        - $ref: "#/components/parameters/TaskId"
      responses:
        "200":
          description: Current task, including version
          headers:
            ETag:
              schema: { type: string, example: '"v3"' }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Task" }
        "401":
          description: Not authenticated
        "404":
          description: Task unavailable
    put:
      summary: Update a task, or toggle it when the body is empty
      description: >-
        With a body, each field present is written and each field omitted keeps
        its stored value. `due_date: ""` clears the date; omitting it leaves it
        alone. With no body, completion is toggled. If-Match is required for
        both forms; use the tag from the task read, not a newly fetched tag
        silently attached to an old draft. A failed condition does not mutate.
        Growing text and recurring successors obey logical quotas. Quota
        denial rolls back the update, version and successor together. Existing
        overages still allow shrinking text and non-growing edits. Explicitly
        disable recurrence to complete without creating another task.
      parameters:
        - $ref: "#/components/parameters/TaskId"
        - $ref: "#/components/parameters/TaskVersion"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTaskRequest"
      responses:
        "200":
          description: Updated task with a new version and ETag
        "400":
          description: Invalid field, or a due date in the past
        "403":
          description: Not your task, or the workspace is read-only
        "409":
          description: Transaction conflict; review current state before retrying
        "412":
          description: Task changed since the supplied version
        "422":
          description: Text growth or recurring successor exceeds quota; preserve the unsaved draft
        "428":
          description: If-Match required; reload old browser tabs
    delete:
      summary: Move a task and its active same-workspace children to trash
      parameters:
        - $ref: "#/components/parameters/TaskId"
        - $ref: "#/components/parameters/TaskVersion"
      responses:
        "200":
          description: Task deleted
        "403":
          description: Task does not belong to current user
        "412":
          description: Parent or task version changed; nothing is deleted
        "428":
          description: If-Match required
  /api/trash:
    get:
      summary: List deleted tasks in a workspace
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: workspace_id
          in: query
          required: true
          schema: { type: string }
        - name: cursor
          in: query
          schema: { type: string }
      responses:
        "200":
          description: At most 100 tasks, with next_cursor for the next page
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    maxItems: 100
                    items: { $ref: "#/components/schemas/Task" }
                  next_cursor: { type: string, nullable: true }
        "403":
          description: Not a member of this workspace
  /api/trash/{id}:
    post:
      summary: Restore the original task and children from the same deletion batch
      description: Requires owner/admin/member access, a valid session and CSRF for cookie authentication. Restore a deleted parent before a subtask. No request body required.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                delete_batch:
                  type: string
                  pattern: '^[a-f0-9]{64}$'
                  description: Require this deletion batch; stale Undo returns 409.
      parameters:
        - $ref: "#/components/parameters/TaskId"
      responses:
        "200": { description: Original rows restored }
        "400": { description: Already active or invalid operation }
        "401": { description: Not authenticated }
        "403": { description: Access or CSRF denied }
        "404": { description: Task not found }
        "409": { description: Concurrent change or parent still deleted }
  /api/email-deliveries:
    get:
      summary: Latest 100 delivery records owned by the signed-in account
      description: Only metadata is returned. Tokens, payloads and recipient addresses are excluded. Terminal records expire seven days after creation. Delivery means SMTP acceptance, not inbox placement.
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: Delivery metadata, newest first
          content:
            application/json:
              schema:
                type: array
                maxItems: 100
                items:
                  type: object
                  required: [id, kind, reference_id, status, attempts, created_at, last_error]
                  properties:
                    id: { type: string }
                    reference_id: { type: string }
                    kind: { type: string, enum: [confirmation, password_reset, workspace_invite] }
                    status: { type: string, enum: [pending, processing, delivered, failed, cancelled] }
                    attempts: { type: integer }
                    created_at: { type: integer, format: int64, description: Unix seconds }
                    last_error: { type: string, description: Bounded internal reason without SMTP response contents }
        "401":
          description: Not authenticated
  /api/sessions:
    get:
      summary: List active sessions for the current user
      description: >-
        Session tokens are stored hashed and never leave the database. The
        caller's own session is identified by hashing the presented cookie, and
        is marked with `current`.
      responses:
        "200":
          description: Session list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Session"
        "401":
          description: Not authenticated
    delete:
      summary: Revoke every session except the caller's
      responses:
        "200":
          description: Other sessions revoked
        "401":
          description: Not authenticated
  /api/sessions/{id}:
    delete:
      summary: Revoke one session
      description: >-
        Scoped to the caller, so a session belonging to another user answers
        404 rather than 403 — distinguishing the two would confirm that the
        session exists.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: "sessions:abc123"
      responses:
        "200":
          description: Session revoked
        "404":
          description: No such session for this user
  /api/export:
    get:
      summary: Export everything the account holds
      description: >-
        Returns the account, its tasks, workspaces and activity as one JSON
        document, with Content-Disposition set so a browser saves it.
      responses:
        "200":
          description: Export document
        "401":
          description: Not authenticated
  /api/account:
    delete:
      summary: Delete the account and everything it owns
      description: >-
        Irreversible. Requires the account password again: a live session is
        not sufficient authority for an action with no undo. Workspaces the
        user owns are deleted with them, since the owner cannot be removed by
        any other route and an ownerless workspace could never be administered.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteAccountRequest"
      responses:
        "200":
          description: Account deleted
        "403":
          description: Incorrect password
        "429":
          description: Too many attempts
  /api/activity:
    get:
      summary: List recent activity for the current user
      responses:
        "200":
          description: Activity list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ActivityEvent"
        "401":
          description: Not authenticated
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: __Host-session_token
      description: Secure production session cookie; local HTTP uses session_token with COOKIE_INSECURE=1.
    bearerAuth:
      type: http
      scheme: bearer
  parameters:
    TaskVersion:
      name: If-Match
      in: header
      required: true
      description: One exact strong task ETag. Wildcards, weak tags and lists are deliberately rejected.
      schema:
        type: string
        pattern: '^"v(0|[1-9][0-9]*)"$'
        example: '"v3"'
    TaskId:
      name: id
      in: path
      required: true
      schema:
        type: string
    WorkspaceId:
      name: id
      in: path
      required: true
      schema:
        type: string
  schemas:
    SignupRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        name:
          type: string
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
    CreateTaskRequest:
      type: object
      required: [title]
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 500
        workspace_id:
          type: string
          nullable: true
        due_date:
          type: string
          nullable: true
        priority:
          type: string
          enum: [low, normal, high]
        notes:
          type: string
          maxLength: 5000
        tags:
          type: array
          maxItems: 12
          items:
            type: string
            maxLength: 32
        status:
          type: string
          enum: [todo, doing, done]
          description: >-
            Board column. Kept in step with `completed` on every write, so the
            two can never disagree.
        recurrence:
          type: string
          enum: [none, daily, weekly, monthly]
          description: >-
            When a recurring task is completed the next instance is created,
            with month arithmetic clamped to the length of the target month.
        parent_id:
          type: string
          nullable: true
          description: >-
            Makes this a subtask. Requires write access to the parent, and the
            parent's deletion removes it.
        assignee_id:
          type: string
          nullable: true
          description: Must be a member of the task's workspace.
        reminder_sent:
          type: boolean
    UpdateTaskRequest:
      type: object
      description: >-
        Every field is optional. A field that is present is written; a field
        that is absent keeps its stored value.
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 500
        priority:
          type: string
          enum: [low, normal, high]
        notes:
          type: string
          maxLength: 5000
        completed:
          type: boolean
        tags:
          type: array
          maxItems: 12
          items:
            type: string
            maxLength: 32
        due_date:
          type: string
          description: >-
            An empty string clears the due date. Omitting the field leaves it
            unchanged, which is why this is not a nullable date. A value must
            be in the future.
        status:
          type: string
          enum: [todo, doing, done]
        recurrence:
          type: string
          enum: [none, daily, weekly, monthly]
        assignee_id:
          type: string
          description: An empty string clears the assignment.
    ChangeMemberRoleRequest:
      type: object
      required: [user_id, role]
      properties:
        user_id:
          type: string
          example: "users:abc123"
        role:
          type: string
          enum: [admin, member, viewer]
          description: '"owner" is deliberately not assignable.'
    RemoveMemberRequest:
      type: object
      required: [user_id]
      properties:
        user_id:
          type: string
          example: "users:abc123"
    RevokeInviteRequest:
      type: object
      required: [invite_id]
      properties:
        invite_id:
          type: string
          example: "workspace_invites:abc123"
    DeleteAccountRequest:
      type: object
      required: [password]
      properties:
        password:
          type: string
          description: The account password, required again to confirm.
    Session:
      type: object
      properties:
        id:
          type: string
          example: "sessions:abc123"
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        current:
          type: boolean
          description: True for the session making the request.
    ActivityEvent:
      type: object
      properties:
        id:
          type: string
        action:
          type: string
          enum:
            - signup
            - login
            - logout
            - verify_email
            - resend_verification
            - update_profile
            - change_password
            - create_workspace
            - invite_workspace_member
            - accept_workspace_invite
            - create_task
            - update_task
            - change_member_role
            - remove_workspace_member
            - revoke_workspace_invite
            - revoke_session
            - revoke_sessions
            - toggle_task
            - delete_task
        entity_type:
          type: string
        entity_id:
          type: string
        created_at:
          type: string
    TaskSearchRequest:
      type: object
      properties:
        workspace_id:
          type: string
          nullable: true
          description: Omit/null for all accessible workspaces; own legacy tasks also appear in any authorized scope
          example: "workspaces:abc123"
        q:
          type: string
          maxLength: 500
          default: ""
          description: At most 500 UTF-8 bytes, no control characters; substring across title, notes and tags
        status: { type: string, enum: [all, active, todo, doing, done], default: all }
        priority: { type: string, enum: [all, high, normal, low], default: all }
        tag:
          type: string
          maxLength: 128
          default: ""
          description: Exact case-sensitive tag, at most 128 UTF-8 bytes
        assignee: { type: string, enum: [any, me, unassigned], default: any }
        due: { type: string, enum: [any, overdue, none, range], default: any }
        due_from:
          type: integer
          format: int64
          nullable: true
          minimum: 0
          description: Inclusive Unix milliseconds, required only with due=range
        due_before:
          type: integer
          format: int64
          nullable: true
          maximum: 253402300799999
          description: Exclusive Unix milliseconds, greater than due_from; required only with due=range
        sort: { type: string, enum: [created_desc, created_asc, due_asc, priority, title], default: created_desc }
        limit: { type: integer, minimum: 1, maximum: 100, default: 50 }
        cursor: { type: string, nullable: true, maxLength: 8192 }
        as_of:
          type: integer
          format: int64
          nullable: true
          minimum: 1
          description: Retain response cutoff to revisit page 1 with cursor null; must agree with a supplied cursor and not be in the future
    TaskViewRequest:
      type: object
      required: [query, today, tomorrow, upcoming]
      properties:
        query:
          allOf:
            - $ref: "#/components/schemas/TaskSearchRequest"
            - type: object
              required: [workspace_id]
              properties:
                workspace_id:
                  type: string
                  nullable: false
                  pattern: '^workspaces:[A-Za-z0-9_-]+$'
                  description: Required authorized workspace; own unattached legacy tasks also appear
                limit: { type: integer, minimum: 1, maximum: 50, default: 50 }
        parent_id:
          type: string
          nullable: true
          pattern: '^tasks:[A-Za-z0-9_-]+$'
          description: Omit/null for roots; otherwise read children of an accessible active root
        focus_id:
          type: string
          nullable: true
          pattern: '^tasks:[A-Za-z0-9_-]+$'
          description: Optional exact task within the selected root/child scope, not an access bypass
        active_first:
          type: boolean
          default: false
          description: Group active rows before completed rows, then apply the selected sort and ID tie-breaker
        today:
          type: integer
          format: int64
          minimum: 0
          maximum: 253402300799999
          description: Local-day start in Unix milliseconds; today < tomorrow < upcoming, spanning at most 10 days
        tomorrow:
          type: integer
          format: int64
          minimum: 0
          maximum: 253402300799999
          description: Next local-day start; calendar arithmetic must account for DST
        upcoming:
          type: integer
          format: int64
          minimum: 0
          maximum: 253402300799999
          description: Exclusive upcoming-window end; UI uses local midnight eight calendar days from today
    TaskViewResponse:
      type: object
      required: [items, next_cursor, as_of, matched, counts, tags, tags_more, children]
      properties:
        items:
          type: array
          maxItems: 50
          items: { $ref: "#/components/schemas/Task" }
        next_cursor: { type: string, nullable: true, maxLength: 8192 }
        as_of: { type: integer, format: int64, minimum: 1 }
        matched:
          type: integer
          minimum: 0
          description: Matching roots or children across all pages, before applying the cursor
        counts:
          type: object
          nullable: true
          required: [total, done, overdue, high, today, upcoming]
          properties:
            total: { type: integer, minimum: 0 }
            done: { type: integer, minimum: 0 }
            overdue: { type: integer, minimum: 0 }
            high: { type: integer, minimum: 0 }
            today: { type: integer, minimum: 0 }
            upcoming: { type: integer, minimum: 0 }
        tags:
          type: array
          maxItems: 50
          items:
            type: object
            required: [tag, count]
            properties:
              tag: { type: string }
              count: { type: integer, minimum: 1 }
        tags_more: { type: boolean }
        children:
          type: array
          maxItems: 51
          description: Child progress for this page and possibly its one lookahead parent; no child task payloads
          items:
            type: object
            required: [parent_id, total, done]
            properties:
              parent_id: { type: string }
              total: { type: integer, minimum: 1 }
              done: { type: integer, minimum: 0 }
    Task:
      type: object
      properties:
        version:
          type: integer
          format: int64
          minimum: 0
          maximum: 9007199254740991
          description: Server-controlled concurrency counter; send If-Match as a quoted v-prefixed tag.
        deleted_at:
          type: integer
          format: int64
          nullable: true
          description: Unix deletion time; null means active.
        delete_batch:
          type: string
          nullable: true
        id:
          type: string
        workspace_id:
          type: string
          nullable: true
        title:
          type: string
        completed:
          type: boolean
        created_at:
          type: string
        due_date:
          type: string
          nullable: true
        priority:
          type: string
          enum: [low, normal, high]
        reminder_sent:
          type: boolean
    CreateWorkspaceRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
    Workspace:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        role:
          type: string
          enum: [owner, admin, member, viewer]
        created_at:
          type: string
    WorkspaceMember:
      type: object
      properties:
        id:
          type: string
        user_id:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
        role:
          type: string
          enum: [owner, admin, member, viewer]
        created_at:
          type: string
    CreateWorkspaceInviteRequest:
      type: object
      required: [email, role]
      properties:
        email:
          type: string
          format: email
        role:
          type: string
          enum: [admin, member, viewer]
    AcceptWorkspaceInviteRequest:
      type: object
      required: [token]
      properties:
        token:
          type: string
    WorkspaceInvite:
      type: object
      properties:
        id:
          type: string
        workspace_id:
          type: string
        email:
          type: string
          format: email
        role:
          type: string
          enum: [admin, member, viewer]
        expires_at:
          type: integer
        accepted_at:
          type: integer
          nullable: true
        created_at:
          type: string
