openapi: 3.0.3
info:
  title: Zig Task Manager API
  version: 1.0.0
  description: API for the Zig Task Manager backend.
servers:
  - url: https://task.micutu.com
  - url: http://127.0.0.1:9000
paths:
  /api/health:
    get:
      summary: Liveness check
      responses:
        "200":
          description: Service is alive
  /api/ready:
    get:
      summary: Readiness check
      responses:
        "200":
          description: Service can reach required dependencies
        "503":
          description: Service is not ready
  /api/metrics:
    get:
      summary: Protected Prometheus metrics
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Metrics payload
        "401":
          description: Missing or invalid metrics token
        "404":
          description: Metrics disabled
  /api/auth/signup:
    post:
      summary: Create a user and start an authenticated session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignupRequest"
      responses:
        "201":
          description: Account created
        "400":
          description: Invalid input or duplicate email
        "429":
          description: Rate limited
  /api/auth/login:
    post:
      summary: Login with email and password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Authenticated
        "401":
          description: Invalid credentials
        "429":
          description: Rate limited
  /api/auth/me:
    get:
      summary: Return the current authenticated user
      responses:
        "200":
          description: Current user
        "401":
          description: Not authenticated
  /api/auth/logout:
    post:
      summary: Delete the current session
      responses:
        "200":
          description: Logged out
  /api/auth/forgot-password:
    post:
      summary: Send a password reset link if the account exists
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        "200":
          description: Generic success response
        "429":
          description: Rate limited
  /api/auth/reset-password:
    post:
      summary: Reset a password with a reset token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, new_password]
              properties:
                token:
                  type: string
                new_password:
                  type: string
                  minLength: 8
      responses:
        "200":
          description: Password reset
        "400":
          description: Invalid token or password
  /api/auth/verify:
    post:
      summary: Verify the current user's email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  minLength: 6
                  maxLength: 6
      responses:
        "200":
          description: Email verified
        "400":
          description: Invalid or expired code
        "401":
          description: Not authenticated
  /api/auth/resend-verification:
    post:
      summary: Send a new verification code to the authenticated user
      responses:
        "200":
          description: Verification code sent
        "401":
          description: Not authenticated
        "429":
          description: Rate limited
  /api/profile:
    get:
      summary: Return the current user's profile
      responses:
        "200":
          description: Profile
        "401":
          description: Not authenticated
    put:
      summary: Update the current user's profile name
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
      responses:
        "200":
          description: Updated profile
        "401":
          description: Not authenticated
  /api/profile/password:
    put:
      summary: Change the current user's password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [old_password, new_password]
              properties:
                old_password:
                  type: string
                new_password:
                  type: string
                  minLength: 8
      responses:
        "200":
          description: Password changed
        "403":
          description: Current password is invalid
  /api/workspaces:
    get:
      summary: List workspaces for the current user
      responses:
        "200":
          description: Workspace list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Workspace"
        "401":
          description: Not authenticated
    post:
      summary: Create a workspace owned by the current user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWorkspaceRequest"
      responses:
        "201":
          description: Created workspace
        "401":
          description: Not authenticated
  /api/workspaces/invites/accept:
    post:
      summary: Accept a workspace invite for the authenticated user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AcceptWorkspaceInviteRequest"
      responses:
        "200":
          description: Invite accepted
        "400":
          description: Expired, already accepted, or already a member
        "403":
          description: Invite belongs to a different email
  /api/workspaces/{id}/members:
    get:
      summary: List workspace members
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
      responses:
        "200":
          description: Workspace members
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WorkspaceMember"
        "403":
          description: Requires owner or admin role
    put:
      summary: Change a member's role
      description: >-
        The owner's role cannot be changed, and "owner" is not an assignable
        role, so ownership can never be granted through this endpoint.
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangeMemberRoleRequest"
      responses:
        "200":
          description: Role updated
        "403":
          description: Requires owner or admin role, or the target is the owner
        "404":
          description: Not a member of this workspace
    delete:
      summary: Remove a member
      description: >-
        The owner cannot be removed, so a workspace always keeps someone able
        to administer it.
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RemoveMemberRequest"
      responses:
        "200":
          description: Member removed
        "403":
          description: Requires owner or admin role, or the target is the owner
        "404":
          description: Not a member of this workspace
  /api/workspaces/{id}/invites:
    post:
      summary: Invite a user to a workspace
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWorkspaceInviteRequest"
      responses:
        "201":
          description: >-
            Invite created. The email is queued and sent in the background, so
            a 201 means the invitation exists, not that it has been delivered.
        "403":
          description: Requires owner or admin role, and a verified inviter email
        "409":
          description: A pending invite already exists for this address
    get:
      summary: List pending invitations
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
      responses:
        "200":
          description: Pending invitations
        "403":
          description: Requires owner or admin role
    delete:
      summary: Revoke a pending invitation
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RevokeInviteRequest"
      responses:
        "200":
          description: Invitation revoked
        "403":
          description: Requires owner or admin role
        "404":
          description: No such invitation in this workspace
  /api/tasks:
    get:
      summary: Read a bounded task page for the current user
      description: >-
        Use page=1 and follow next_cursor, retaining as_of and workspace_id.
        Pages include children and are ordered by immutable task ID descending.
        Membership is rechecked on each request. as_of excludes later creation
        milliseconds, not a frozen snapshot of edits, deletes or permissions.
        Without page=1, a legacy array is returned only when the complete list
        fits in 100 rows; larger lists fail explicitly with 409, never truncate.
        Owned legacy tasks without a workspace remain visible with any allowed
        workspace. Without workspace_id, all currently accessible workspaces
        are included. Browser search/sort currently operate after full traversal.
      parameters:
        - name: page
          in: query
          schema: { type: integer, enum: [1] }
        - name: workspace_id
          in: query
          schema: { type: string, example: "workspaces:abc123" }
        - name: cursor
          in: query
          description: Last returned task ID; requires page=1 and as_of
          schema: { type: string, example: "tasks:abc123" }
        - name: limit
          in: query
          description: Requires page=1
          schema: { type: integer, minimum: 1, maximum: 100, default: 100 }
        - name: as_of
          in: query
          description: Creation cutoff in Unix milliseconds returned by the first page; retain on following pages
          schema: { type: integer, format: int64, minimum: 1 }
      responses:
        "200":
          description: Bounded page, or complete legacy array for at most 100 tasks; Cache-Control no-store
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    required: [items, next_cursor, as_of]
                    properties:
                      items:
                        type: array
                        maxItems: 100
                        items: { $ref: "#/components/schemas/Task" }
                      next_cursor: { type: string, nullable: true }
                      as_of: { type: integer, format: int64 }
                  - type: array
                    maxItems: 100
                    items: { $ref: "#/components/schemas/Task" }
        "400":
          description: Invalid page, limit, typed record ID or cutoff; cursor without as_of
        "401":
          description: Not authenticated
        "403":
          description: Requested workspace unavailable to this user
        "409":
          description: Legacy client must opt into pagination
        "429":
          description: 600 task reads per user per minute exceeded; Retry-After 60
        "503":
          description: Task storage temporarily unavailable; do not treat as an empty list
    post:
      summary: Create a task
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTaskRequest"
      responses:
        "201":
          description: Created task
        "401":
          description: Not authenticated
  /api/tasks/{id}:
    get:
      summary: Read one active task and its current ETag
      description: Workspace viewers may read; inaccessible, deleted and missing tasks return the same 404. Private response is no-store.
      parameters:
        - $ref: "#/components/parameters/TaskId"
      responses:
        "200":
          description: Current task, including version
          headers:
            ETag:
              schema: { type: string, example: '"v3"' }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Task" }
        "401":
          description: Not authenticated
        "404":
          description: Task unavailable
    put:
      summary: Update a task, or toggle it when the body is empty
      description: >-
        With a body, each field present is written and each field omitted keeps
        its stored value. `due_date: ""` clears the date; omitting it leaves it
        alone. With no body, completion is toggled. If-Match is required for
        both forms; use the tag from the task read, not a newly fetched tag
        silently attached to an old draft. A failed condition does not mutate.
      parameters:
        - $ref: "#/components/parameters/TaskId"
        - $ref: "#/components/parameters/TaskVersion"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTaskRequest"
      responses:
        "200":
          description: Updated task with a new version and ETag
        "400":
          description: Invalid field, or a due date in the past
        "403":
          description: Not your task, or the workspace is read-only
        "409":
          description: Transaction conflict; review current state before retrying
        "412":
          description: Task changed since the supplied version
        "428":
          description: If-Match required; reload old browser tabs
    delete:
      summary: Move a task and its active same-workspace children to trash
      parameters:
        - $ref: "#/components/parameters/TaskId"
        - $ref: "#/components/parameters/TaskVersion"
      responses:
        "200":
          description: Task deleted
        "403":
          description: Task does not belong to current user
        "412":
          description: Parent or task version changed; nothing is deleted
        "428":
          description: If-Match required
  /api/trash:
    get:
      summary: List deleted tasks in a workspace
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: workspace_id
          in: query
          required: true
          schema: { type: string }
        - name: cursor
          in: query
          schema: { type: string }
      responses:
        "200":
          description: At most 100 tasks, with next_cursor for the next page
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    maxItems: 100
                    items: { $ref: "#/components/schemas/Task" }
                  next_cursor: { type: string, nullable: true }
        "403":
          description: Not a member of this workspace
  /api/trash/{id}:
    post:
      summary: Restore the original task and children from the same deletion batch
      description: Requires owner/admin/member access, a valid session and CSRF for cookie authentication. Restore a deleted parent before a subtask. No request body required.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                delete_batch:
                  type: string
                  pattern: '^[a-f0-9]{64}$'
                  description: Require this deletion batch; stale Undo returns 409.
      parameters:
        - $ref: "#/components/parameters/TaskId"
      responses:
        "200": { description: Original rows restored }
        "400": { description: Already active or invalid operation }
        "401": { description: Not authenticated }
        "403": { description: Access or CSRF denied }
        "404": { description: Task not found }
        "409": { description: Concurrent change or parent still deleted }
  /api/email-deliveries:
    get:
      summary: Latest 100 delivery records owned by the signed-in account
      description: Only metadata is returned. Tokens, payloads and recipient addresses are excluded. Terminal records expire seven days after creation. Delivery means SMTP acceptance, not inbox placement.
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: Delivery metadata, newest first
          content:
            application/json:
              schema:
                type: array
                maxItems: 100
                items:
                  type: object
                  required: [id, kind, reference_id, status, attempts, created_at, last_error]
                  properties:
                    id: { type: string }
                    reference_id: { type: string }
                    kind: { type: string, enum: [confirmation, password_reset, workspace_invite] }
                    status: { type: string, enum: [pending, processing, delivered, failed, cancelled] }
                    attempts: { type: integer }
                    created_at: { type: integer, format: int64, description: Unix seconds }
                    last_error: { type: string, description: Bounded internal reason without SMTP response contents }
        "401":
          description: Not authenticated
  /api/sessions:
    get:
      summary: List active sessions for the current user
      description: >-
        Session tokens are stored hashed and never leave the database. The
        caller's own session is identified by hashing the presented cookie, and
        is marked with `current`.
      responses:
        "200":
          description: Session list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Session"
        "401":
          description: Not authenticated
    delete:
      summary: Revoke every session except the caller's
      responses:
        "200":
          description: Other sessions revoked
        "401":
          description: Not authenticated
  /api/sessions/{id}:
    delete:
      summary: Revoke one session
      description: >-
        Scoped to the caller, so a session belonging to another user answers
        404 rather than 403 — distinguishing the two would confirm that the
        session exists.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: "sessions:abc123"
      responses:
        "200":
          description: Session revoked
        "404":
          description: No such session for this user
  /api/export:
    get:
      summary: Export everything the account holds
      description: >-
        Returns the account, its tasks, workspaces and activity as one JSON
        document, with Content-Disposition set so a browser saves it.
      responses:
        "200":
          description: Export document
        "401":
          description: Not authenticated
  /api/account:
    delete:
      summary: Delete the account and everything it owns
      description: >-
        Irreversible. Requires the account password again: a live session is
        not sufficient authority for an action with no undo. Workspaces the
        user owns are deleted with them, since the owner cannot be removed by
        any other route and an ownerless workspace could never be administered.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteAccountRequest"
      responses:
        "200":
          description: Account deleted
        "403":
          description: Incorrect password
        "429":
          description: Too many attempts
  /api/activity:
    get:
      summary: List recent activity for the current user
      responses:
        "200":
          description: Activity list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ActivityEvent"
        "401":
          description: Not authenticated
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: __Host-session_token
      description: Secure production session cookie; local HTTP uses session_token with COOKIE_INSECURE=1.
    bearerAuth:
      type: http
      scheme: bearer
  parameters:
    TaskVersion:
      name: If-Match
      in: header
      required: true
      description: One exact strong task ETag. Wildcards, weak tags and lists are deliberately rejected.
      schema:
        type: string
        pattern: '^"v(0|[1-9][0-9]*)"$'
        example: '"v3"'
    TaskId:
      name: id
      in: path
      required: true
      schema:
        type: string
    WorkspaceId:
      name: id
      in: path
      required: true
      schema:
        type: string
  schemas:
    SignupRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        name:
          type: string
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
    CreateTaskRequest:
      type: object
      required: [title]
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 500
        workspace_id:
          type: string
          nullable: true
        due_date:
          type: string
          nullable: true
        priority:
          type: string
          enum: [low, normal, high]
        notes:
          type: string
          maxLength: 5000
        tags:
          type: array
          maxItems: 12
          items:
            type: string
            maxLength: 32
        status:
          type: string
          enum: [todo, doing, done]
          description: >-
            Board column. Kept in step with `completed` on every write, so the
            two can never disagree.
        recurrence:
          type: string
          enum: [none, daily, weekly, monthly]
          description: >-
            When a recurring task is completed the next instance is created,
            with month arithmetic clamped to the length of the target month.
        parent_id:
          type: string
          nullable: true
          description: >-
            Makes this a subtask. Requires write access to the parent, and the
            parent's deletion removes it.
        assignee_id:
          type: string
          nullable: true
          description: Must be a member of the task's workspace.
        reminder_sent:
          type: boolean
    UpdateTaskRequest:
      type: object
      description: >-
        Every field is optional. A field that is present is written; a field
        that is absent keeps its stored value.
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 500
        priority:
          type: string
          enum: [low, normal, high]
        notes:
          type: string
          maxLength: 5000
        completed:
          type: boolean
        tags:
          type: array
          maxItems: 12
          items:
            type: string
            maxLength: 32
        due_date:
          type: string
          description: >-
            An empty string clears the due date. Omitting the field leaves it
            unchanged, which is why this is not a nullable date. A value must
            be in the future.
        status:
          type: string
          enum: [todo, doing, done]
        recurrence:
          type: string
          enum: [none, daily, weekly, monthly]
        assignee_id:
          type: string
          description: An empty string clears the assignment.
    ChangeMemberRoleRequest:
      type: object
      required: [user_id, role]
      properties:
        user_id:
          type: string
          example: "users:abc123"
        role:
          type: string
          enum: [admin, member, viewer]
          description: '"owner" is deliberately not assignable.'
    RemoveMemberRequest:
      type: object
      required: [user_id]
      properties:
        user_id:
          type: string
          example: "users:abc123"
    RevokeInviteRequest:
      type: object
      required: [invite_id]
      properties:
        invite_id:
          type: string
          example: "workspace_invites:abc123"
    DeleteAccountRequest:
      type: object
      required: [password]
      properties:
        password:
          type: string
          description: The account password, required again to confirm.
    Session:
      type: object
      properties:
        id:
          type: string
          example: "sessions:abc123"
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        current:
          type: boolean
          description: True for the session making the request.
    ActivityEvent:
      type: object
      properties:
        id:
          type: string
        action:
          type: string
          enum:
            - signup
            - login
            - logout
            - verify_email
            - resend_verification
            - update_profile
            - change_password
            - create_workspace
            - invite_workspace_member
            - accept_workspace_invite
            - create_task
            - update_task
            - change_member_role
            - remove_workspace_member
            - revoke_workspace_invite
            - revoke_session
            - revoke_sessions
            - toggle_task
            - delete_task
        entity_type:
          type: string
        entity_id:
          type: string
        created_at:
          type: string
    Task:
      type: object
      properties:
        version:
          type: integer
          format: int64
          minimum: 0
          maximum: 9007199254740991
          description: Server-controlled concurrency counter; send If-Match as a quoted v-prefixed tag.
        deleted_at:
          type: integer
          format: int64
          nullable: true
          description: Unix deletion time; null means active.
        delete_batch:
          type: string
          nullable: true
        id:
          type: string
        workspace_id:
          type: string
          nullable: true
        title:
          type: string
        completed:
          type: boolean
        created_at:
          type: string
        due_date:
          type: string
          nullable: true
        priority:
          type: string
          enum: [low, normal, high]
        reminder_sent:
          type: boolean
    CreateWorkspaceRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
    Workspace:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        role:
          type: string
          enum: [owner, admin, member, viewer]
        created_at:
          type: string
    WorkspaceMember:
      type: object
      properties:
        id:
          type: string
        user_id:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
        role:
          type: string
          enum: [owner, admin, member, viewer]
        created_at:
          type: string
    CreateWorkspaceInviteRequest:
      type: object
      required: [email, role]
      properties:
        email:
          type: string
          format: email
        role:
          type: string
          enum: [admin, member, viewer]
    AcceptWorkspaceInviteRequest:
      type: object
      required: [token]
      properties:
        token:
          type: string
    WorkspaceInvite:
      type: object
      properties:
        id:
          type: string
        workspace_id:
          type: string
        email:
          type: string
          format: email
        role:
          type: string
          enum: [admin, member, viewer]
        expires_at:
          type: integer
        accepted_at:
          type: integer
          nullable: true
        created_at:
          type: string
